Task: Extract mom-ids and baby-ids that have both prenatal visit and postnatal visit, non-missing value of mom's gestational age, baby's birth weight, and baby's date of birth

In [1]:
from pandas_summary import DataFrameSummary
import redcap
import pandas as pd
import macos_keychain
import re
import os

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

## Using Dropbox Data

#### Remove babies with any missing value of gestational age, baby's birth or baby's DOB

In [10]:
baby = pd.read_excel(io="../data/Baby.xlsx", sheet_name="Baby")

In [11]:
baby.shape

(16684, 10)

In [12]:
baby.dropna(subset = ["DOB", "Birth Weight (grams)", "Gestational_Age"], inplace=True)

In [13]:
baby.shape

(15829, 10)

#### Extract baby-ids

In [14]:
included_baby_ids = baby["Baby-Id"].unique()

In [24]:
included_baby_ids

array(['Baby-0616', 'Baby-0002', 'Baby-0003', ..., 'Baby-16675',
       'Baby-16676', 'Baby-16677'], dtype=object)

In [23]:
included_baby_ids.shape

(15829,)

#### Extract mom-ids

In [15]:
mom_baby_link = pd.read_excel(io="../data/Baby.xlsx", sheet_name="Baby-Mom Link")

In [16]:
mom_baby_link.head()

     Baby-Id    Mom-Id
0  Baby-0001  Mom-4388
1  Baby-0002  Mom-1829
2  Baby-0003  Mom-8494
3  Baby-0004  Mom-0320
4  Baby-0005  Mom-6297

In [19]:
included_mom_ids = mom_baby_link[mom_baby_link["Baby-Id"].isin(included_baby_ids)]["Mom-Id"].unique()

In [25]:
included_mom_ids

array(['Mom-4388', 'Mom-1829', 'Mom-8494', ..., 'Mom-3097', 'Mom-11509',
       'Mom-11014'], dtype=object)

In [22]:
included_mom_ids.shape

(13251,)